@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body.v2 header {
		height: auto;
	}

	/* Adjust top menu for index */
	header>.content ul li {
		float: left;
		width: 100%;
		display: block!important;
		padding-left: 4px;
	}

	header>.content ul li span {
		display: inline;
	}

	/* */
	body.v2 header>.content.with-menu ul {
		margin-top: 14px;
		border: 0;
		width: 84vw;
		box-sizing: border-box;
	}
}
