@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		min-width: auto;
	}

	header {
		width: 100vw;
	}

	header > .content {
		width: 100vw;
		height: 17vw;
	}
	header>.content .menu-toggle {
		margin: 0;
		display: block;
		position: absolute;
		left: 5vw;
		top: 3vw;
	}

	header>.content.with-menu .menu-toggle {
		position: fixed;
		z-index: 2010;
	}
	
	header>.content .menu-toggle:before {
    font: 40px smartbots;
}

	header > .content .logo {
		position: relative;
		margin: 0px 20vw;
		width: 60vw;
		height: 15vw;
		background-size: 60vw 14vw;
		z-index: 2010;
	}

	header > .content ul {
		display: none;
	}

	header .visual {
		width: 100vw;
		display: none;
	}

/*
	#pageBody {
		display: none;
	}
*/

	#leftColumn .component--translation-invite menuAnnounce {
		display: none;
	}

	#leftColumn {
		display: none;
		background: #1c3c61;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 85vw;
		margin-left: 0px;
		padding-left: 21px;
		padding-top: 0;
		z-index: 2005;
		box-shadow: 0 0 20px;
		box-sizing: border-box;
		overflow: auto;
		border-top: 64px solid #1c3c61;
	}

	#leftColumn.open {
		display: block;
	}

	#leftColumn.open:before {
		content: "";
		position: fixed;
		background: #000;
		top: 0;
		bottom: 0;
		left: 85vw;
		right: 0;
		opacity: 0.2;
	}

	#leftColumn h2 {
		color: #FFF;
	}

	#leftColumn ul#navMenu li.header {
		color: #e6e6e6;
		font-size: 20px;
		margin: 0.7em 0;
		padding-left: 0;
	}

	#leftColumn ul#navMenu li.header:before {
		left: -15pt;
	}

	#leftColumn ul#navMenu li {
		padding-left: 10px;
	}

	#leftColumn ul#navMenu li a {
		color: #cccccc;
		font-size: 18px;
		margin: 0.7em 0;
	}

	#leftColumn #alertLink {
		display: none;
	}

	.account-top-menu {
		width: 100vw;
	}

	.account-top-menu .caption {
		font-size: 18px
	}

	.account-top-menu .caption .hint {
		display: none;
	}

	.account-top-menu .details-popup {
		width: 92vw;
		padding: 3.5vw 4vw 4vw;
		min-width: auto;
	}

	.account-top-menu .details-popup .bottom-block {
		width: 92vw;
		padding: 3.5vw 4vw 4vw;
		margin: 3vw -4vw -4vw;
	}

	.account-top-menu .entry.support .details-popup {
		right: -20vw;
	}

	page_content .content {
		flex-direction: column;
		max-width: 100vw;
	}

	page_content #pageBody {
		width: 91vw;
		margin-left: 20px;
	}


	footer .content {
		width: 100vw;
		height: auto;
	}

	footer ul {
		display: none;
	}

	footer .copyright {
		padding: 0px 0 17px 140px;
	}

	footer .disclaimer {
		margin: 35px 0 10px 0px;
		text-align: justify;
	}
}
