@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	img.alignright {
		display: block;
		float: none!important;
		margin: 1em auto!important;
	}

	.wp-caption {
		width: 100%!important;
		box-sizing: border-box;
	}

	#blogBody .wp-caption img {
		max-width: 100%!important;
		height: auto!important;
		margin: 0!important;
		padding: 0!important;
		box-sizing: border-box;
	}
}
