@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.dashboardNav {
		width: 91vw;
		text-align: left;
		margin: 0 0 30px 0;
	}

	.dashboardNav label {
		margin-left: 0;
		margin-top: 10px;
		display: block;
		text-align: left;
	}


	h2.dashH {
		font-size: 20px;
		margin: 2em 0;
	}

	#dashboardBots .switch {
		font-size: 15px;
		float: none;
		position: absolute;
		top: 30px;
	}

	#dashboardBots .prom img {
		width: 100%;
	}


	.messagingLimit {
		height: 20vw;
		font-size: 20px;
		line-height: 1.5em;
	}


	/* Bots list */
	#botsList.compact {

	}

	#botsList.compact .bot {
		width: 200px;
		height: 145px;
	}

	#botsList.compact .bot .name {
		font-size: 15px;
		position: static;
	}

	#botsList.compact .bot .status {
		right: 0;
		top: 110px;
		left: 10px;
		font-size: 15px;
	}

	#botsList.compact .bot .type {
		font-size: 12px;
		right: 0;
		top: 125px;
		left: 10px;
	}

	#botsList.compact .bot .region {
		font-size: 12px;
		top: 112px;
	}

	/* Bots list full */
	#botsList.full {
		grid-template-columns: 1fr 1fr;
	}

	#botsList.full .bot {
		width: 100%;
	}

	#botsList.full .bot .name {
		width: 100%;
		box-sizing: border-box;
	}


	.dashMainLink2 {
		float: none;
	}

	.dashMainLink2 a {
		min-width: 100%;
		line-height: 32px;
		height: 32px;
		font-size: 17px;
		box-sizing: border-box;
	}

	.groupHelperLinks a {
		display: block;
		font-size: 15px;
		margin-bottom: 15px;
	}


	/* Dashboard group */
	.groupItem3 .members {
		position: static;
		padding: 5px 0 5px 5px;
	}

	.groupItem3 .tags {
		display: none;
	}

	.groupItem3.mobile-closed .bot {
		position: static;
		font-size: 15px;
		padding: 5px 0 5px 5px;
	}

	.groupItem3.NOTPAID .groupStatus {
		background-position: 70px center;
	}

	/* Dash group closed */
	.groupItem3.mobile-closed {
		margin: 1em 0;
		width: 100%;
	}

	.groupItem3.mobile-closed a.deleteGroup {
		position: static;
		display: block;
	}

	.groupItem3.mobile-closed .groupName {
		position: static;
	}

	.groupItem3.mobile-closed .groupStatus {
		position: static;
		padding: 5px 0 5px 5px;
	}


	.groupItem3.mobile-closed .members .info:after {
		display: none;
	}

	.groupItem3.mobile-closed .members .info span {
		font-size: 15px;
	}

	.groupItem3.mobile-closed .members .details {
		display: none;
	}

	.groupItem3.mobile-closed .linksBlock {
		width: 26vw;
		font-size: 15px;
	}


	.groupItem3.mobile-closed .bot a {
		display: none;
	}

	.groupItem3.mobile-closed .services {
		display: none;
	}

	.groupItem3.mobile-closed .detachedStatus {
		position: static;
	}

	.groupItem3.mobile-closed .detachedStatus.warning {
		position: static;
		width: 100%;
	}

	.groupItem3 .detachedStatus.testing:after {
		content: none;
	}

	/* Dashboard group opened */
	.groupItem3.mobile-opened {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #eff6fb;
		border: #1680f6 1px solid;
		margin: 0;
		padding: 8px;
		z-index: 10000;
		box-sizing: border-box;
	}

	.groupItem3.mobile-opened .services {
		display: block;
		position: absolute;
		left: 8px;
		right: 8px;
		bottom: 118px;
		margin: 0;
		width: auto;
	}

	.groupItem3.mobile-opened .services .serviceBase {
		width: 50%;
		box-sizing: border-box;
	}

	.groupItem3.mobile-opened .services .serviceBase:nth-child(2),
	.groupItem3.mobile-opened .services .serviceBase:nth-child(4) {
		padding-right: 4px;
	}

	.groupItem3.mobile-opened .services .serviceBase .title {
		margin-top: 0;
		width: 100%;
		box-sizing: border-box;
	}

	.groupItem3.mobile-opened .services .serviceBase .numstats {
		margin-top: 0;
	}

	.groupItem3.mobile-opened .services.subscription {
		bottom: 8px;
		left: 8px;
		right: 8px;
		width: auto;
		text-align: right;
	}

	.groupItem3.mobile-opened .services.subscription .title {
		width: 100%;
	}
	.groupItem3.mobile-opened .services.subscription .service {
		width: 100%;
	}
}
